
@{
    ViewBag.Title = "Role";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-5">
    <div>
        <div class="alert alert-danger">
            Bạn không có quyền truy cập 
        </div>
    </div>
</div>

